.botonesMenu{
    display: flex;
    justify-content: center;
    @include margin(0%,0%,0%,4%);

    .BtnVer{
        width: 135px;
        border-style: none;
        background-color: $mysecundary;
        padding: 10px;
        border-radius: 50px;
        position: relative;
        overflow: hidden;
        transition: .2s ease all;

        &::after{
            content: "";
            width: 100%;
            height: 100%;
            background-color: $myBgColorLight2;
            position: absolute;
            z-index: 1;
            top: -58px;
            left: 0;
            transition: .2s ease-in-out all;
        }

        &:hover::after{
            top: 0;
        }
    }
}
.tituloMenu{
    text-align: center;
    @include margin(0%,0%,0%,5%);
    
}
%animation{
    transition: all ease-in-out 0.5s;
    transform: scale(1.1);
}

%animaImg{
    transition: all ease-in-out 0.5s;
    filter: brightness(0.75);
}

.listCards{
    display: grid;
    grid-template-areas: "area1 area2 area3";
    padding-left: 10%;
    .card1{
        img{
            &:hover{
                @extend %animaImg;
            }
        }
        grid-area: area1;
        
        &:hover{
            @extend %animation;
        }
    }
    .card2{
        grid-area: area2;
        img{
            &:hover{
                @extend %animaImg;
            }
        }
        &:hover{
            @extend %animation;
        }
    }
    .card3{
        grid-area: area3;
        img{
            &:hover{
                @extend %animaImg;
            }
        }
        &:hover{
            @extend %animation;
        }
    }
}

.visible{
    display: grid;
}

.novisible{
    display: none;
}
