.modal {
    background-color: #ed454875;

    th{
        font-family: 'Mukta', sans-serif;
        color: #db4b57;
    }

    td{
        font-family: 'Mukta', sans-serif;
    }

    .modal-body{
        .table-responsive{
            background-color: #ffe286;
        }
    }
}